<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jockes Fantastic Burgers</title>
    </head>
    <body>
      <main>
        <h1>Welcome to BurgerHeaven</h1>
        <section>
          <h2>Select Burger</h2>
          <p>Here you select a burger</p>
          <table>
            <thead>
              <tr>
                <th><h2>Ultimate Burger</h2></th>
                <th><h2>Pale Burger</h2></th>
                <th><h2>Tripple wombo combo</h2></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="https://assets.epicurious.com/photos/57c5c6d9cf9e9ad43de2d96e/master/pass/the-ultimate-hamburger.jpg" alt="Ultimate Burger" title="Ultimate Burger" width="200"></td>
                <td><img src="https://assets.biggreenegg.eu/app/uploads/2019/03/28145521/topimage-classic-hamburger-2019m04-800x534.jpg" alt="Pale Burger" title="Pale Burger" width="200"></td>
                <td><img src="https://assets.biggreenegg.eu/app/uploads/2017/12/05133526/topimage-mango-filled-hamburgers-800x500-600x375.jpg" alt="Tripple Burger" title="Tipple Burger" width="200"></td>
              </tr>
              <tr>
                <td><ul>
                      <li>Definitely vegan</li>
                      <li>Covered in fancy cheese(lactose)</li>
                      <li>Yummy bready buns(gluten)</li>
                </ul></td>
                <td><ul>
                      <li>High quality porkypine meat</li>
                      <li>Some weird none lactos cheese</li>
                      <li>Exclusive bread(gluten)</li>
                </ul></td>
                <td><ul>
                      <li>Three random pieces of meat</li>
                      <li>Covered in fancy cheese(lactose)</li>
                      <li>None gluten boring bread</li>
                </ul></td>
              </tr>
            </tbody>
        </table>
        </section>

        <section>
          <h2>Customer information</h2>
          <p>Here is where you provide information</p>
        </section>

      </main>
      <hr>
              <footer>Hello there. General Kenobi!</footer>
    </body>
</html>
