<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <title>Jockes Fantastic Burgers</title>
    </head>
    <body>
      <main>
        <header>
          <img src="https://previews.123rf.com/images/vmalafeevskiy/vmalafeevskiy1706/vmalafeevskiy170600063/80799097-burger-and-soda-fast-food-header-banner-template.jpg" id="headerImg" alt="Header" title="Header">
          <h1>Welcome to BurgerHeaven</h1>
        </header>
        <section id="burgers" align="center">
          <h2>Select Burger</h2>
          <p>Here you select a burger</p>
          <div class="wrapper">
            <div class="box a"><h2>Ultimate Burger</h2></div>
            <div class="box b"><h2>Pale Burger</h2></div>
            <div class="box c"><h2>Tripple wombo combo</h2></div>
            <div class="box d"><img src="https://assets.epicurious.com/photos/57c5c6d9cf9e9ad43de2d96e/master/pass/the-ultimate-hamburger.jpg" alt="Ultimate Burger" title="Ultimate Burger" width="200"></div>
            <div class="box e"><img src="https://assets.biggreenegg.eu/app/uploads/2019/03/28145521/topimage-classic-hamburger-2019m04-800x534.jpg" alt="Ultimate Burger" title="Ultimate Burger" width="200"></div>
            <div class="box f"><img src="https://assets.biggreenegg.eu/app/uploads/2017/12/05133526/topimage-mango-filled-hamburgers-800x500-600x375.jpg" alt="Ultimate Burger" title="Ultimate Burger" width="200"></div>
            <div class="box g"><ul>
                  <li>Definitely vegan</li>
                  <li>Covered in fancy cheese
                    <span class="highlight">(lactose)
                    </span>
                  </li>
                  <li>Yummy bready buns
                    <span class="highlight">(gluten)
                    </span>
                  </li>
            </ul></div>
            <div class="box h"><ul>
              <li>High quality porkypine meat</li>
              <li>Some weird none lactos cheese</li>
              <li>Exclusive bread
                <span class="highlight">(gluten)
                </span>
              </li>
            </ul></div>
            <div class="box i"><ul>
              <li>Three random pieces of meat</li>
              <li>Covered in fancy cheese
                <span class="highlight">(lactose)
                </span>
              </li>
              <li>None gluten boring bread</li>
            </ul></div>
          </div>
      </section>

        <section id="customers">
          <h2>Customer information</h2>
          <p>Here is where you provide information</p>
          <form>
            <p>
              <label for="Full">Full name</label><br>
              <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name" />
            </p>
            <p>
              <label for="mail">E-mail</label><br>
              <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
            </p>
            <p>
              <label for="Street">Street</label><br>
              <input type="text" id="street" name="s" required="required" placeholder="Street name" />
            </p>
            <p>
              <label for="Housenumb">House</label><br>
              <input type="number" id="housenumb" name="hn" required="required" placeholder="House number" />
            </p>
            <p>
              <label for="recipient">Recipient</label><br />
              <select id="recipient" name="rcp">
                <option selected="selected">Credid card</option>
                <option>Paypal</option>
                <option>Prepaid cards</option>
              </select>
            </p>
            <label for="Gender">Your gender</label><br>
            <input type="radio" name="gender" value="male" checked="checked"> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
            <input type="radio" name="gender" value="other"> Do not wish to answer<br>
          </form>
          <button type="submit"><img src="https://img.favpng.com/3/14/9/hamburger-cheeseburger-fast-food-computer-icons-clip-art-png-favpng-MUbwumA8DD1dhYAxzL0BMk4pF.jpg" width="50" /> Send Info</button>
        </section>

      </main>
      <hr>
              <footer>Hello there. General Kenobi!</footer>
    </body>
</html>
