<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/deli-very.css">
      <script type="text/javascript" src="js/menu.js" defer></script>
      <script src="js/js_script.js" defer></script>
      <script src="https:// vuejs.org/js/vue.js" defer></script>
      <script src="/socket.io/socket.io.js" defer></script>
      <script src ="js/vue_script.js" defer></script>
      <title>Jockes Fantastic Burgers</title>
    </head>
    <body>
      <main id="myID">
        <header>
          <img src="https://previews.123rf.com/images/vmalafeevskiy/vmalafeevskiy1706/vmalafeevskiy170600063/80799097-burger-and-soda-fast-food-header-banner-template.jpg" id="headerImg" alt="Header" title="Header">
          <h1>Welcome to BurgerHeaven</h1>
        </header>
        <section id="burgers" align="center">
          <h2>Select Burger</h2>
          <p>Here you select a burger</p>
          <div class="wrapper">
            <div v-for="index in menu">
              <h2>{{ index.name }}</h2>
              <img v-bind:src="index.img" width="200" title="index.name" title="index.name"/>
              <p>{{ index.kCal }}</p>
              <p v-if="index.lactose == true">Lactose</p>
              <p v-if="index.gluten == true">Gluten</p>
              <label>Choose this burger</label>
              <input v-bind:true-value="index.name" false-value="" type="checkbox" v-model="burger"/>
            </div>
          </div>
      </section>

        <section id="customers">
          <h2>Customer information</h2>
          <p>Here is where you provide information</p>
          <form>
            <p>
              <label for="Full">Full name</label><br>
              <input v-model="name"  type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name" />
            </p>
            <p>
              <label for="mail">E-mail</label><br>
              <input v-model="email" type="email" id="email" name="em" required="required" placeholder="E-mail address" />
            </p>
            <p>
              <label for="recipient">Recipient</label><br />
              <select id="recipient" name="rcp" v-model="payment">
                <option selected>Credit card</option>
                <option>Paypal</option>
                <option>Prepaid cards</option>
              </select>
            </p>
            <label for="gender" id="genderButtons">Your gender</label><br>
            <input v-model="gender" type="radio" name="gender" value="male" checked="checked"> Male<br>
            <input v-model="gender" type="radio" name="gender" value="female"> Female<br>
            <input v-model="gender" type="radio" name="gender" value="other"> Do not wish to answer<br>
          </form>
          <div class="view-box">
            <div id="dots" v-on:click="addOrder">
                <div
                  v-for="(order, key) in orders"
                  v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
                  {{key}}
                </div>
            </div>
          </div>
          <button v-on:click="markDone()" type="submit" id="orderButton"><img src="https://img.favpng.com/3/14/9/hamburger-cheeseburger-fast-food-computer-icons-clip-art-png-favpng-MUbwumA8DD1dhYAxzL0BMk4pF.jpg" width="50" /> Send Info</button>
          <p v-if="burger && seen">{{burger}}</p>
          <p v-if="name && seen">{{name}}</p>
          <p v-if="email && seen">{{email}}</p>
          <p v-if="payment && seen">{{payment}}</p>
          <p v-if="gender && seen">{{gender}}</p>
        </section>

      </main>
      <hr>
              <footer>Hello there. General Kenobi!</footer>
    </body>
</html>
