body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 125%;
}

button{
  margin: 50px 0px;
}

button:hover {
  background-color: DarkGray;
  cursor: crosshair;
}

section{
  margin: 100px 0px;
  border: 2px dashed;
}

table{
  margin: 0 auto;
  width:75%;
}

.highlight {
  font-weight: bold;
}

#burgers {
background-color: black;
color: white;
border-color: white;
}

#customers {
border-color: black;
padding: 5px 20px;
}
