body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 125%;
}

button:hover {
  background-color: DarkGray;
  cursor: crosshair;
}

.highlight {
  font-weight: bold;
}

#burgers {
background-color: black;
color: white;
}

#customers {

}
